.inner{
    overflow: hidden;
}

.inner .img{
    transition: all 1.5s ease;
}

.inner:hover .img{
    transform: scale(1.2);
}

.shoeProperties{
    list-style: none;
    padding-inline-start: 0;
}

.shoeProperties li{
    font-size: 1rem;
}

.orderBtn{
    border: none;
}

.orderBtn:hover{
    background-color: #a413bcff;
    transition: background-color 0.5s ease;
}

.bg{
    background-color: #070707;
    height: 80.879vh;
    overflow-y: auto;
}

.cardTweak{
    box-shadow: 0 0 5px 1px #a413bcff !important;
}

.cardBodyTweak{
    border-color: #a413bcff !important;
}