.banner{
    background-image: url('/images/butikaWallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    position: relative;
}

.bannerTxt{
    color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 150px;
}


#Txt2{
    left: 35%;
    top: 40%
}




