.submitBtn{
    background-color: #a413bcff;
    color: black;
    font-weight: bold;
}

.label{
    //color: whitesmoke;
    font-weight: bold;
}

.radioLabel{
    //color: whitesmoke;
    font-weight: bold;
}