.submitBtn{
    background-color: #c078f6;
    color: black;
    font-weight: bold;
}

.label{
    color: whitesmoke;
    font-weight: bold;
}

.radioLabel{
    color: whitesmoke;
    font-weight: bold;
}

.alert{
    position: absolute;
}