.navText{
    color: #a413bcff;
    text-decoration: none;
    font-size: 1.2em;
}

.navText:hover{
    color:  #a413bcff;
}

.bg-dark{
    background-color: black;
}

#toggler{
    background-color: purple;
}